@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrant", sans-serif;
}
body {
  background-color: rgb(225, 225, 225);
}
.main {
  border-radius: 5px 5px 0 0;
  background-color: rgb(44, 82, 232);
}
.todoList {
  margin-top: 4px;
  background-color: rgb(112, 58, 162);
  border-radius: 0 0 5px 5px;
}
